table td, table th{
	min-width: 2.5em;
	text-align: center;
}

header {
	margin: 0.5em 0.2em 0 0;
}

section {
	margin: 1.5em 1em;
}

.rankGraph {
	width:2em;
}


div.remodalMsg {
	margin-bottom: 2em;
}

section > header {
	font-size:1.2em;
}

.pageHeader i {
	margin-right: .2em;
}

.charaFaceCell {
	width:4em;
	height:4em;
}

.charaFace {
	width:4em;
	border: none;
}
