.charaIntroduct {
	margin: auto;
	width: 700px;
	padding-bottom: 20px;
}

.leftContainer {
	width: 300px;
	text-align: center;
	padding-top: 20px;
}

.rightContainer {
	width: 400px;
	padding-top 20px;
}

