article {
	background: -webkit-radial-gradient(0% 0%, circle, #9F6B31, #300000);
	background: radial-gradient(0% 0%, circle, #9F6B31, #300000);
	min-height: 500px;
	padding-left: 10px;
	color: #ffffff;
}

article > h2 {
	font-size: 1.5em;
	margin-top: 10px;
}

.storySentence {
	font-size: 1.1em;
	padding-left: 10px;
	padding-bottom: 20px;
}